REDIS_URL=redis://chouette-redis:6379
domain_name='localhost'
port='3000'
secret_key_base='6232d69858cd0280281758819402332be64623fd769c03728aa5183d8dcbb100ce37fc00be365cd378bf1efd69f1c44e0aa0f2c1446ec7e83b28048f3ab7927f'
devise_secret_key='6232d69858cd0280281758819402332be64623fd769c03728aa5183d8dcbb100ce37fc00be365cd378bf1efd69f1c44e0aa0f2c1446ec7e83b28048f3ab7927f'
api_endpoint='http://chouette-iev:8080/chouette_iev/'
google_api_key=''
google_analytics_tracker=''
geoportail_api_key=''
osrm_endpoint='http://router.project-osrm.org'
osrm_secondary_endpoint='http://localhost:5000'
prefix_application_version='Version de développement'
deactivate_formats_referential='' # For example 'hub,sig,neptune'
deactivate_formats_import='' # For example 'hub,sig,neptune'
deactivate_formats_export='' # For example 'hub,sig,neptune'
smtp_delivery_method='smtp'
smtp_host=''
smtp_port=''
smtp_domain=''
smtp_user_name=''
smtp_password=''
smtp_authentication='cram_md5'
mailer_sender='no-reply@domain.tld'
capistrano_deploy_user=''
openlayers_default_map='google_satellite'
IEV_VERSION='1.0'
IEV_HOST='http://chouette-iev'
IEV_PORT='8080'
IEV_PATH='chouette_iev'
CHECK_GTE3='false'
SPEC_VALIDATION_URL_PROD='http://www.chouette.mobi/validation/V2_3'
SPEC_VALIDATION_URL='http://preview.chouette.cityway.fr/validation/v24'
iev_admin_key=''
PROGRESS_BAR_TIMEOUT='10000'
facebook_client_id=''
facebook_secret_id=''
google_client_id=''
google_secret_id=''
openid_connect_client_id=''
openid_connect_secret_id=''
